<%- include('./partials/header.ejs') %>
<h1>Add New post</h1>
<form action="/add-post" method="post">
    <input type="hidden" name="postId" value="<%= post.id || '' %>">
    <div><input type="text" name="title" value="<%= post.title || '' %>"></div>
    <div><textarea name="content" id="" cols="30" rows="10"><%= post.content || '' %></textarea></div>
    <input type="submit" value="<%= post.id ? 'Save Post' : 'Add Post' %>">
</form>
<%- include('./partials/footer.ejs') %>